.m-b-40 {
    margin-bottom: 40px !important;
}

.validate-message-n {
    position: absolute;
    bottom: -20px;
}

#formProfile .form-group.row, #formProfile .form-group.langue {
    position: relative;
}

.c-pointer {
    cursor: pointer;
}

.width-200px {
    width: 187px;
}
.width-200px-padding {
    padding: 0.25rem 18px;
}

.max-width-500 {
    max-width: 500px;
}

.btn-to-link {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.text-danger-hover:focus, .text-danger-hover:hover {
    color: #bd2130 !important;
}

.specialize-background, .section_cnt .title .title_h2.specialize-color::before {
    background-color: #00999f !important;
}

.labor-background, .section_cnt .title .title_h2.labor-color::before {
    background-color: #0b9d54 !important;
}

.student-background, .section_cnt .title .title_h2.student-color::before {
    background-color: #ab1313 !important;
}

.specialize-color {
    color: #00999f !important;
}

.labor-color, .section_cnt .title .title_h2.specialize-color::before {
    color: #0b9d54 !important;
}

.student-color {
    color: #ab1313 !important;
}

.display-table-m-auto {
    display: table;
    margin: auto;
}

.mr-10px {
    margin-right: 10px;
}

.no-spin::-webkit-calendar-picker-indicator,
.no-spin::-webkit-inner-spin-button,
.no-spin::-webkit-outer-spin-button {
    -webkit-appearance: none;
    display: none;
    -moz-appearance: none;
}

.overflow-auto-n {
    overflow: auto;
}