.m-b-40 {
    margin-bottom: 40px !important;
}

.c-pointer {
    cursor: pointer;
}

.max-width-500 {
    max-width: 500px;
}

.btn-to-link {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.text-danger-hover:focus, .text-danger-hover:hover {
    color: #bd2130 !important;
}