.select2-selection, .select2-container--default .select2-selection--single {
    border: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: initial;
}

.select2.select2-container.select2-container--default {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/* multiple */
.select2-selection.select2-selection--multiple {
    margin-top: -6px;
}

.select2-container--default .select2-selection--multiple, .select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: transparent;
    border:0;
    padding: 0;
}