body {
    color: white;
}

.container-div {
    margin: 0 auto;
    width: 1000px;
    display: flow-root;
    /* height: 1416px; */
}

.padding-4-0 {
    padding: 4px 0
}

.top-left-0 {
    top: 0;
    left: 0;
    position: fixed;
}

.left-right-box {
    display: flex;
    /* height: 100%; */
}

#box-inputs {
    margin: 0 auto;
    width: 1000px;
    height: 40px;
}

.header-n {
    background-color:#3d9678;
    width: 100%;
    height: 80px;
}

.content-left {
    background-color: black;
    width: 30%;
    float: left;
}

.content-right {
    background-color: #6e787a;
    width: 70%;
    float: left;
}

.m-10px {
    margin: 10px;
}

.mlr-10px {
    margin-left: 10px;
    margin-right: 10px;
}

.box-img {
    width: 170px;
    height: 170px;
    margin: 15px auto;
}

.w-100-h-100 {
    width: 100%;
    height: 100%;
}

.box-btn {
    text-align: right;
    padding: 5px 0;
    outline: 1px solid red;
    display: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-profile:hover .box-btn, .content-right:hover .box-btn {
    display: block;
}

.btn-add, .btn-remove {
    width: 30px;
    line-height: 18px;
}

.input-n {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    border-bottom: 1px dashed;
    overflow: hidden;
    resize: none;
    font-size: 21px;
}

textarea-to-text {
    display: block;
    text-align: justify;
    word-break: break-word;
    white-space: pre-wrap;
}